@{
    ViewData["Title"] = "Upload";
}



<div class="text-center">
    <h3 class="display-4">Drag & Drop file here:</h3>
    
</div>




<div class="jumbotron">
    <form action="~/Dashboard/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
       
    </form>
</div>




