<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogViewer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
    <link rel="stylesheet" href="~/lib/addons/dataTables.bootstrap.min.css" />

    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

        <link rel="stylesheet" href="~/lib/mdb/mdb.min.css">*@


    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LogViewer</a>*@
                <img src="/images/Adlumin-logo.JPG?64467" >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/dropzone/dropzone.min.js"></script>
    <script src="~/lib/addons/jquery.dataTables.min.js"></script>
    <script src="~/lib/addons/dataTables.bootstrap4.min.js"></script>
    @* <script type="text/javascript" src="~/lib/mdb/popper.min.js"></script>
        <script type="text/javascript" src="~/lib/mdb/mdb.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "order": [[ 2, "desc" ]]
            });
        });
    </script>
    <script type="text/javascript">

        Dropzone.options.dropzoneForm = {
            maxFiles: 1,
            init: function () {


            },

            success: function (response) {
                window.location.href = "/Dashboard/Index";
            },
            error: function (response) {
                window.location.href = "/Error/Index";
            }
        };





    </script>

</body>
</html>
